.app {
    font-family: Arial, sans-serif;
    text-align: center;
    background: transparent;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



a{
    text-decoration: none;
   

}
  